<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activitytest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ClassicalMusicApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityTest"
        android:usesCleartextTraffic="true">
        <activity android:name=".search.RecommendActivity"
            android:label="Recommend" />
        <activity
            android:name=".search.SleepTimeActivity"
            android:label="Set Sleep Time" />
        <activity
            android:name=".search.comment.CommentActivity"
            android:label="Comments" />
        <activity
            android:name=".search.MusicPlayerActivity"
            android:label="Music Player" />
        <activity
            android:name=".profile.MyCommentActivity"
            android:label="My Comments" />
        <activity
            android:name=".profile.myFavorite.FavoriteActivity"
            android:label="My Favorites" />
        <activity
            android:name=".profile.ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".search.SearchMusicActivity"
            android:label="Search Music" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="Log In" />
        <activity
            android:name=".MainActivity"
            android:label="Classical Music App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>